<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="dev,staging">
        <logger name="org.springframework.controllers" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger name="com.jcabi.log" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.springframework" level="WARN" />
        <logger name="org.springframework.transaction" level="WARN" />

        <!-- in order to debug some marshalling issues, this needs to be TRACE -->
        <logger name="org.springframework.web.servlet.mvc" level="WARN" />

    </springProfile>
    <springProfile name="production">
        <logger name="org.springframework.controllers" level="WARN" additivity="false">
            <appender-ref ref="FILE" />
        </logger>
        <logger name="org.springframework" level="WARN" />
        <logger name="org.springframework.transaction" level="WARN" />

        <!-- in order to debug some marshalling issues, this needs to be TRACE -->
        <logger name="org.springframework.web.servlet.mvc" level="WARN" />

    </springProfile>
    <if condition='property("spring.profiles.active").contains("dev")'>
        <then>
            <logger name="org.springframework.controllers" level="DEBUG" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>
            <logger name="com.jcabi.log" level="DEBUG" additivity="false">
                <appender-ref ref="CONSOLE"/>
            </logger>
            <logger name="org.springframework" level="WARN" />
            <logger name="org.springframework.transaction" level="WARN" />

            <!-- in order to debug some marshalling issues, this needs to be TRACE -->
            <logger name="org.springframework.web.servlet.mvc" level="WARN" />

        </then>
        <else>
            <logger name="org.springframework.controllers" level="WARN" additivity="false">
                <appender-ref ref="FILE" />
            </logger>
            <logger name="com.jcabi.log" level="DEBUG" additivity="false">
                <appender-ref ref="CONSOLE"/>
            </logger>
            <logger name="org.springframework" level="WARN" />
            <logger name="org.springframework.transaction" level="WARN" />

            <!-- in order to debug some marshalling issues, this needs to be TRACE -->
            <logger name="org.springframework.web.servlet.mvc" level="WARN" />

        </else>
    </if>
</configuration>